* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, rgb(114, 21, 142), rgb(158, 65, 158));
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  background: #312724;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 400px rgb(227, 227, 227);
  padding: 30px;
  min-width: 320px;
  width: 30%;
  height: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: yellow;
}
