/* Your CSS styles remain unchanged */
        body {
            background : linear-gradient(to bottom right
            , rgb(114, 21, 142),rgb(158, 65, 158)) ;
            color: white;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1200;
            height: 734px;
        }
        
        .container{
            text-align: center;
            align-items: center;
            justify-items: center;
            height: 300px;
            width: 400px;
            border-radius: 20px; /* Add border-radius for curved corners */
            background-color: #312724;
            box-shadow: 0 0 400px rgb(227, 227, 227); /* Optional: Add a shadow for depth */
        }
        
        label {
            margin-top: 10px;
            display: block;
            color: white;
            font-size: 20px;
        }
        
        button {
            margin-top: 8px;
            margin-left: 8px;
            padding: 8px 10px;
            cursor: pointer;
            border-radius: 5px;
            background-color: whitesmoke;
            border-color: aqua;
            border-style: double;
            color: black;
            font-weight: 600;
        }


        input{
            font-size: 20px;
        }


        
        button:hover{
            background: transparent;
            box-shadow: 5 15 50px aqua;
            border-color: white;
            color: white;
            font-weight: 600;
        }
        
        p {
            font-size: 18px;
            margin-top: 20px;
        }
        